html
  margin: 0
  padding: 0
  font-size: 16px

body
  width: 100%
  margin: 0
  padding: 0 0 60px
  box-sizing: border-box

.container
  border: thin solid rgba(#999999, 0.4)

.collapse ul li:hover
  color: #333
  background: rgba(140, 140, 140, 0.30)

.intro-section
    min-height: 100vh
    padding-top: 150px
    text-align: left
    color: #fff
    background: #333

.about-section
    min-height: 100vh
    padding-top: 150px
    text-align: center
    background: #eee


.services-section
    min-height: 100vh
    padding-top: 150px
    text-align: center
    color: #fff
    background: #333


.contact-section
    min-height: 100vh
    padding-top: 150px
    text-align: center
    background: #eee
