.segment1
  p,
  .btn
    +cush(20px 0, 0)
    display: block
  @media (min-width: 992px) and (orientation: portrait)
    p
      +cush(20px 15%, 0)
    .btn
      margin: 20px 30%
      display: block
  @media (min-width: 1024px) and (orientation: landscape)
    p
      +cush(20px 15%, 0)
    .btn
      margin: 20px 30%
      display: block
